#pictureSection{
   width:160px;
   height: 200px;
   border: 1px solid black;
   margin-left: 50px;
   margin-top:40px;
   
}
.container{
   background-color: rgb(206, 219, 226);
   height: 800px;
}
#myInfo{
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
   margin-top:40px;
}
#divider{
   margin-top:40px;
   height: 500px;
   border-left: 1px solid black;
}
#outerDiv{
   width: 900px;
   height: 710px;
   border: 3px solid black;
   margin:auto;
   background-color: white;
   box-shadow: 0 16px 16px 16px black;
} 
#workExperience{
  height: 30px;
  width:100%;
  background-color: blue; 
  color: white;
  font-weight: bold;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
}
#Education{
   height: 30px;
   width:100%;
   background-color: blue; 
   color: black;
   font-weight: bold;
   margin-top: 30px;
   padding: 20px;
   border: 1px solid black;
}

#list{
   font-size: 12px;
   color: blue;
}
#pageNameSection{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   border: 1px;
   width: 400px;
   margin:auto;
   background-color: blue;
   border: 1px solid black;
   color: white; 
}